@import "../../bower_components/bootstrap/scss/bootstrap.scss";

body {
  overflow-x: hidden;
  font-family: "PTSans-Regular";
  font-size: 12px;
}
.container {
  min-width: 1150px;
}
/* HEADER */
.shapka {
  height: 86px;
 // background-image:-moz-linear-gradient(top, #fefefe 0%, #fff 50%,#cecece 100%);
 background-image:linear-gradient(to bottom, #fefefe 0%, #fff 60%,#cecece 100%);
 // background-image:-webkit-linear-gradient(top, #fefefe 0%, #fff 50%,#cecece 100%);
 // background-image:-o-linear-gradient(top, #fefefe 0%, #fff 50%,#cecece 100%);
 // background-image:-ms-linear-gradient(top, #fefefe 0%, #fff 50%,#cecece 100%);
 // background-image:-webkit-gradient(linear, right top, right bottom, color-stop(0%,#fefefe), color-stop(50%,#fff),color-stop(100%,#cecece));
}

.logo_div {
  min-width: 289px;
  min-height: 45px;
}
img.logo {
  margin-top: 17px;
  margin-bottom: 17px
}
.working-time {
  font-size: 12px;
  color: #353535;
  right: 0;
  position: absolute;
  margin-top: 13px;
}

.search {
  min-width: 164px;
  margin-top: 33px;
}
.search input[type="text"] {
  width: 110px;
  float: left;
  margin-right: 2px;
  border-radius: 3px;
  border: 1px solid #949494;
}
.search .search_button {
  display: inline-block;
  border-radius: 3px;
  border: 1px solid #949494;
}
.questions {
  margin-left: 20px;
}
.questions,
.tel {
  margin-top: 23px;
  font-size: 13px;
  color: #525252;
  margin-bottom: 23px;
  position: relative;
}
.tel {
margin-left: -20px;
}
.tel p {
  line-height: 1;
}
.questions p,
.tel p{
    margin: 0;
    padding: 0;
}
.mail,
.phone_svg {
  display: block;
  position: absolute;
  left: -25px;
  bottom: 5px;
}
a.mail_link {
  font-family: "Ubuntu";
  font-size: 17px;
  color:#525252;
}
a.phone_link {
  font-family: "Ubuntu", "Ubuntu-Bold";
  font-size: 21px;
  font-weight: bold;
  text-decoration: none;
  color: #525252;
}
.search_input {
  height: 28px;
  background: url(../img/ykonka_poysk.svg) 3px 6px no-repeat;
  padding-left: 18px;
}
.search_button {
  font-size: 10px;
  color: #000000;
  height: 28px;
  border: 1px solid #49a6d5 !important;
  border-radius: 3px;
  padding: 5px 11px;
}
.btn-call-me {
  display: block;
  position: absolute;
  right: 0px;
  top: 25px;
  text-align: center;
  padding-top: 8px;
  width: 166px;
  height: 36px;
  border-radius: 3px;
  color: #fff;
  font-size: 13px;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.31);

  box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.13);
  background-image:linear-gradient(to top, #0ca4d6 0%, #56d5ff);
}
.btn-call-me:hover {
  color:#fff;
  text-decoration: none;
}

.main_header {
  clear: both;
  margin-top: 20px;
}

.shapka-descr {
  background: url(../img/fon_na_podpys_v_shapke.png) 0 0 no-repeat;
  background-size: 100% 100%;
  height: 80px;
  width: 100%;
  color: #fff;
  margin: 0;
  padding: 0;
}
.shapka-descr h1 {
  font-family: "Ubuntu";
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 21px;
}

.main_nav {
  height: 48px;
  margin: 0 auto;
  border-radius: 0  0 5px 5px;
  background-image: linear-gradient(to bottom, #fefefe, #dbdbdb);
}
.main_nav ul li {
padding: 18px 25px 8px 25px;
background: url(../img/1.png) 100% 60% no-repeat;
  &:last-child {
    background: none;
  }
  a{
    font-size: 15px;
    color: #353535;
  &:hover {
    text-decoration: none;
    color: #fff;
  }

}
  &:hover {
    background-image: linear-gradient(to bottom, #262626, #4e4e4e);
  }
  &:hover a{
    color: #fff;
  }

}
// .main_nav ul li:last-child {
//     background: none !important;
// }

.sidebar {
  max-width: 270px;
  box-shadow: 3px 3px 3px rgba(0,0,0,0.21);
  border: solid 1px #e5e5e5;
  margin-top: 20px;
  padding-top: 36px;
  margin-right: 10px;
}
h3.sidebar_name {
  width: 100%;
  position: absolute;
  top: 0;
  left:0px;
  height: 36px;
  padding-left: 27px;
  padding-top: 11px;
  font-size: 15px;
  color: #fff;
  background-image: linear-gradient(to bottom, #22c3f8, #56d5ff);
}
h2.title {
  font-size: 27px;
  font-weight: 700;
  font-family: "Ubuntu", "Ubuntu-Bold";
  color: #3c3d3c;
  margin: 20px 0;
}

.card {
  max-width: 261px;
  margin: 12px 10px;
  padding: 9px;
  position: relative;
  height: 235px;
  border-radius: 10px;
}
.thumb {
  width: 100%;
  height: auto;
}
.prod-info  {
  text-align: center;

}
.card-title {
  font-size: 15px;
  font-weight: bold;
}
.price {
  display: block;
  position: absolute;
  width: 100%;
  margin-bottom: 9px;
  left:0;
  height: 31px;
  font-size: 13px;
  color:#3c3d3c;
  background-image: linear-gradient(to bottom, #ebebeb, #f3f3f3);
}

.well {
  & ul{
    @extend .list-unstyled;

    & li {
      padding-left: 11px;
      padding-top: 5px;
    }
  }
  & h3 {
    font-size: 15px;
    color:#353535;
    margin-top: 22px;
  }
}

.decript {
  margin-top: 35px;
  font-size: 13px;
  color: #525252;
  height: 105px;
  overflow: hidden;
}


/* PORTFOLIO */

.portfolio {
  margin-top: 68px;
  height: 626px;
  // background-image: url(../img/fon_pod_portfolyo.png);
  // background-size: cover;
}

.folio-img {
  float: left;
  padding-right: 5px;
  padding-bottom: 5px;
}
.f1 {
  width: 33%;
}


.f2 {
  width: 100%;
}

.folio2 {
  width: 33%;
  float: left;
}

/* ANOTHER */

.features {
  margin-top: 75px;
  clear: left;
}

.feature-img {
  float: left;
  margin-right: 12px;
  width: 38px;
}
.feat-title {
  font-size: 15px;
  color: #3c3d3c;
  font-weight: bold;
}
.feat-text {
  padding-left: 50px;
}
.feat {
  height: 120px;
}

.client {
  float: left;
  width: 110px;
  margin-right: 50px;
}
.btn-sm {
  clear: left;
}

.faq {
  margin-top: 50px;
  clear: left;
}
.more_clients {
  position: relative;
  display: block;
  left: 40%;
}

h2 {
  font-size: 27px;
  color: #3c3d3c;
  font-family: "Ubuntu";
  font-weight: 700;
  margin-top: 37px;
  margin-bottom: 37px;
}

/* Acordeon */

.acordeon_item h3 {
  height: 54px;
  border: 1px solid #dadada;
  font-size: 16px;
  color: #525252;
  padding: 20px 18px;
  background-image: url(../img/ykonka_otkryt.svg);
  background-position: 98% 50%;
  background-repeat: no-repeat;
  background-size: 35px 35px;
}
.acordeon_item.active h3{
  box-shadow: 0 3px 0 #27c5f9;
}
.acordeon_item p {
  padding-left: 18px;
  font-size: 16px;
}


.letter_img {
  float: left;
  margin-right: 23px;
  margin-bottom: 12px;
}

.thank-text {
  clear: left;
  border-left: 4px solid #d8d8d8;
  padding-left: 24px;
  font-size: 13px;
  font-family: "ArialMT";
}
.thank-title {
  padding-top: 15px;
  font-size: 17px;
  color:#3c3d3c;
  font-family: "PTSans-Regular";
  font-weight: 600;
}

.thank-more {
  border: 1px solid #979797;
  border-radius: 100px;
  color: #525252;
  font-size: 13px;
  font-family: "TSans-Regular";
  height: 34px;
  width: 245px;
}
.thank-more:hover {
  color: #fff;
  background-image: linear-gradient(to bottom, #4edbf3, #26b4e3);
  text-decoration: none;
}

.zayavka {
  width: 467px;
  float: left;
  position: relative;
  margin-top: 60px;
}
.or-phone {
  float: left;
  width: 320px;
  margin-top: 160px;
  margin-left: 40px;
  & p {
    font-size: 18px;
    line-height: 1;
    padding-left: 30px;
  }
  & p.phone {
    font-size: 33px;
    padding-left: 30px;
    line-height: 1;
    font-family: "Ubuntu";
    font-weight: 700;
    background: url(../img/telefon_futer.svg) no-repeat 0 0;
    background-size: 20px 33px;
  }
}
.form  {
  width: 467px;
  height: 438px;
  border-radius: 24px;
  background-image: linear-gradient(to bottom, #fefefe, #e4e4e4);
  box-shadow: 0 2px 4px rgba(0,0,0,0.5);
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 22px;
}
.form_title {
  font-size: 27px;
  color: #3c3d3c;
  font-family: "Ubuntu";
  font-weight: 700;
}
.field_group input, .field_group select {
  width: 100%;
}
.field_group {
  & label {
    font-size: 14px;
    color: #3c3d3c;
    margin-bottom: 6px;
  }
  & input, select {
    border: 1px solid #979797;
    border-color: #979797;
    height: 43px;
    background: #fff;
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
    font-size: 18px;
  }
}
input.send_btn {
  display: block;
  position: relative;
  border-radius: 3px;
  background-image: linear-gradient(to bottom, #0ca4d6, #56d5ff);
  box-shadow: inset 0 -2px 0 rgba(0,0,0,0.13);
  width: 100%;
  height: 42px;
  color: #fff;
  font-size: 15px;
  margin-top: 19px;
}

.discleymer {
  background: url(../img/soobshchenye_ykonka.svg) no-repeat 0 0;
  display: block;
  height: 18px;
  top: 20px;
  position: relative;
  padding-left: 25px;
}

footer {
  margin-top: 24px;
  height: 194px + 33px;

  & .main_footer {
    padding-top: 30px;
    height: 194px;
    background-color: #2a2a2a;
  }
  & .rekvizit .row {
    // height: 33px;
    padding-top: 11px;
    font-size: 11px;
    color: #252525;
    text-transform: uppercase;
    background-image: linear-gradient(to bottom, #eeeeee, #d8d8d8);
  }
  & .footer_first {
    position: relative;
    width: 320px;
    float: left;
    & .footer_logo {
      margin-bottom: 14px;
    }
    & .copy {
      float: left;
    }
    & a {
      float: right;
    }
  }
  & .footer_second {
    width: 145px + 72px + 63px;
    float: left;
    position: relative;
    font-size: 12px;
    color: #ffffff;
    & div:first-child {
      float: left;
      width: 61px;
    }
    & div:last-child {
      // clear: left;
      width: 145px;
    }
  }

}
